<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<string>com.ss.iphone.ugc.tiktok.lite</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>9</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
			</array>
		</dict>
		<string>id</string>
		<string>icon</string>
		<string>displayName</string>
		<string>name</string>
		<string>date</string>
		<data>
		iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c
		6QAAAHhlWElmTU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEo
		AAMAAAABAAIAAIdpAAQAAAABAAAATgAAAAAAAACQAAAAAQAAAJAAAAABAAOg
		AQADAAAAAQABAACgAgAEAAAAAQAAAECgAwAEAAAAAQAAAEAAAAAAlNz6EQAA
		AAlwSFlzAAAWJQAAFiUBSVIk8AAAABxpRE9UAAAAAgAAAAAAAAAgAAAAKAAA
		ACAAAAAgAAAHNDhrSjoAAAcASURBVHgB7FhpbFRVFO5MF+g6pWWny8yUTjco
		LUsr2oJahBIREHAhgMZEExWtSEJSBBIgChpNDEYJbm3EPyRQjCESAwYUiQtQ
		A2L0D7JVQlhkkbZM25n5PN/t3PKmnU7fFKyQcJM79715dznfd88595wbEXG3
		3GXANAOjRo3KKyoqWj5hwoQdUg+PGzfuVGFh4d+jR49uzMvLa8nNzfXk5OT4
		pOI/qj6uIWu1FhQUNI8ZM+ayyNAgsvxWWlq6k7JRRtOAzHRcvXq1tbi4eNX4
		8eNPuVwupKWlYfDgwRgwYACSkpIQHx+PuLg4xMbGon///n1SuRbX5NqJiYlK
		lkGDBinZKCNlpcyU3QzGbvsIy2UlJSUnMzMz1SJcOCYmBlFRUYiMjITValXV
		YrGAVSbqs8r19PqUhTJRNsrIzaHMlJ0YugUY6oMwWJWfn9+SmpqqdpWL9DXI
		3hBKGSkrtZGyEwOxhMLa5RsHiCp5bTabYvZOAN6ZLMpMrSAGYjFNAlWGrPUK
		vNWChISEPjODzqA7vxtJIKYezYFOg3ZD1SF74e78S1VVWLd+/W1DAAnRJBAT
		sYV0jKImq+g8aD90MJ0ZDfVeUlqKpsYmvLB4selxFlknZUU1Ut9Yi9TX1wTU
		gW+tQ8L0aabnCiUbsRATsRGj9A1eeHzQg9KJSA/TdcjQofjlyK/wer1wFeSb
		HmdNToLzwhlk+9xweprhMFQngJQPNpieqyd5iYnYiDEoegYQPEN5jISj+jx6
		6rbVibjAofr6sDTHakuCo+FP5DRfwYbWZmxvc+OLthbV1vk8qNv/I7ZkTET1
		wNybJoKYiI0YgwZLjKIY5BBQT2wav0u0ocDzZ8++71BZWYkZM2aAWmHsF+yZ
		BNiFgLzmqzjiaeuYp+PhyjWg4kUcdUyBNeLm4wxiI0ZiFXkCC0NJRlN0fvLF
		VJ0zazZaW1vhE4m9Pv62lwsXL2KkhMM9zaM1IPf6VRzwtAIyB+dRVaZSM67c
		iLP2qUiN6tfjfD2tR2yMYhnKB6KXN8bTycnJpu0/a+RINPx1RiH2iO1TaArs
		drsxd948U8KGJIBEkIQ/TsBTsgiVcYNNzRmKBO0HmMd0IYBJBeNqs94/OTEJ
		ZZPvxz2TJ+HngwcVEfxZXr3ctKDaBHLFBA4aTOCGLvmn3bgNNaljTM/bHQnE
		xvxl7Nixp7sQwMyKyUU4DpAL9RPHcuzEcSVpbU0trGGcIJoA+gBNAMFrbdKm
		AHcrri19G4URsTdFAglgoMYMtgsBEiU1M8MKl4D7ysuVwLt271bsdsd+sP81
		AdSAQ34N0AQo8H5/oDTiegt2VK1Af5P+Kdh6xEaMTN+7EMAcm8dEsIGh/uMp
		0NDQgDSHPeyxmoDOGuCjPzFWvyUI03jn01rEurLDXktjIEbeXXQhgBcNjJZ0
		RzOtRXbj1WXLUPFgRVjj9NzBCNBYQ7WfnzsLe+3H6Df/CcSMG4vo9HRYTJ5e
		xEisXQjgTU5vCNBgetNqAoxOkOoeqmpi6uXhObQh59I5DD1aj4gsh6lNIEZi
		DUaAipd7A6S3Y0gAI8G8YHGA3/6NvsD4zJjBI/WQ0PXu+XOYXTQRRf1sSLCG
		jmP8BJCswMI7vHA1QGYwxXp3/To0wEAAbZ9AlQ/Q2qDf/a3+ThJUuSwR48NV
		aHTNxAPxoeOF25MAwylAQNoE9LMC6f8/6H8MmWe8AuTOxdSEISE35Y4gQKm6
		IPXuOQDfvnpFiAauNURrAaNFdBAwBw/dLgREDx+G2EnlsD35OGxPL4Jt0QLE
		5AdmddoEgh2DKgz+aDt8+fPgfe194PeThKrI4Df1Xd5uKwIiUwYg+amFGFG3
		Bc7Tx5B19QKcrY3IlDw/Q4SOXbcmQD2DEUCQuvhqvwRcj2L/8HuxwSEXLi+/
		CezYD5w5D7R5dDegRRKpmUvEBP4nDbBI+Mtddhw+iOy2JmRJzZAc39V0BRVi
		38+4r2EFPFj53iYssTkxJb7dTjUBxmPwBirZbRIgdr3TXqaIK4tMwvahJWgs
		XQgsWAlIpoiNW+H7UO4jJj0LiLb0uQlESno5bHMNXC3XkC01o/ESipsuo9rd
		iJ8kxf3H154pKmCbvwJGzsFex2TJ7+W+ThKTbo9BGeCraSfga3t5gOYUxSRh
		bUoufhhRjsv2SnidjwAFjwGF8zEtIfQ9xC11glEZ6Uj/fo+60nIIaKeAXyrA
		j3v96sljSh9dAsj72Q4gaxZ22Sd1EKAuRAzHoHKAMkbZeDcE6GM1xmJFWnQs
		pgvo51Oc6uYoMzougCzdV7e3jIBIuWVN+/YbZHuvw+7f9a0tbqMGBzyro60b
		AowmoI9A1fpNoLMGaDC9aW8JAYy7h32yCS4D+L1t4ogMhTvJ0v7b3vpCEKCz
		QTXGpAbcCgL+BQAA//9x1EOmAAAHxElEQVTtWWtsk1UYtl03dh8b21CysbVb
		t3U32IBNBIkQZpQw7mwQYiIhQVBQY4yKSoKiU4w/1GRGRPHuDw0aLxjEAFHQ
		KGDAxPhD5Y4y48bY1m3tup7H9zntN9uyrR2ZpEZPdnZ2vvac8z7Pea/frrnG
		34qLixEfHw+Zhu0ZSxfD7u6Erbsdpc6L+NLTByjoxkEpBS9H6V75W7nc8Hq9
		UG/tBgoWYm/+LJjlHFNqKvLPnUBJTweO9Ht867nWWL/zI6BkKfbk3xhWpkjk
		5neIkVj9sP8eIiUgNiEetoMHYPc4kedsw0vuHp/g+rcPtCahpQ1qxwdQ65vg
		bXgAWPMY0PgQULocX4QhQK+X/dRrUUhAyvx5sPd2IK/7Ipb1dMJlXL2fAA7q
		wFGoueuhChcC9kWAYxk8RQvRYa+Hs2yZvtGhNCBgm+gkIHt7M4q8PbCK6u/2
		uLW8VHndCf7gMaiqlVDFi4GKRrQ6FuLp8ZWYk5QNa2wSHGNSMTl+rDYBc1oq
		rGICDiH0cD/NyL8PR+4VbSYQK/Zj+/5bWMX+54vdOv0CGzbr7XBC1d8LVUTw
		K3DQOhulAngo+yQB2gcEEKD3kn21D4k2AuLy82E7/TMm9l5CU4DtGzbb/9kh
		AS8qX96I4wU341rL8E51gIBAJyg3rx0nNSDafEB8zTQUXGyBtacd+6myAU2T
		8MQrgNi9p3w55iaPH/LmDY0IJOCoPwpwywFzijYNSJo1E4VdbSjruYST3n6R
		VP/4wh0Fv/85oHgJvrbNgcVkCkuAKTUF1vMnJQxegkGADqGGCbz2cXSFwYTa
		GlhFA24Qm70gcX3AaQl4bbNbdwBFS9A8oToseGpBQk4OCv44pwkw8gDDB2iN
		evF9vV/U5AGxhYWYePZXzHZ1oVURcnBT4gOYuDyZXR4RAckSUgvl9kskoTII
		CNyx/6mdYlKL8Hm0JEIxKSnI/eEIru9z4sJgBFzqAurvw8tZk8ITEBODCe+9
		i0JPN8qc7ThFjQpszBzXPqFN6v3c6eH3iyCDpdYNlwmqSFLh8c3Po8zbi1/o
		tGirgZ0ADh7H8ZJbER9GoPQ1q2F3dSBf8okFEgV6ZZ9A+/f+2Q41Y7VElAa8
		cF3VaBOghIzgVlJS0h8JAck318EqPmB3vyRBYqhBBBCEcKD2fouVtopBhTbF
		xiLjrnWwt7do9c+VdHpXnyt4L+6xax9UyRKdT6xNtw26lyAY8XNiJNZg9DJz
		OBzuhISEsBuaZIPsr/ZhM3zFCy+djcDZjPHsqTOofPghmGfOgMVmRUp1FTLW
		r0XOnk+kkOpCgdj+BAG/rrcLHiEucK3q88B726PiABeju3SJzhyvBOxga4hR
		sPZdRkBFRYUzMTERpgjCV+KC+ahzOyFKOiC4AdwY+cEZ6asE4MTOVuRK+Mx3
		dSJf/EeOqH2x9E0uJzoI3r/IWKv2fANVulSn0swmIwmpg4ENfUZsxFhWVtZz
		GQGVlZVtycnJMJvNYbUgRhxY5s7teFfDF/kFBE2Bjb8D5255/qkkTQ+6u7Gi
		txO3S39Wssgj/tzf8CN6Hde2tELdskGiCdW/EY2puWHlCQU61JwEJCUlYdKk
		Se2XEVBdXX02VerzSAjgAaasTMz57hA6iFrawO35pj4i/H8PNwwA5x6uPqiN
		26BYQUotccg2G/Gm8BcyFODQ58SWIpFsypQp5y4jYNq0acfT09PB2w1dONQ8
		Rmx709HDw+GL+DO+NFGPNPtriQYpm5dieuK4iGUZSsbA58Q2duxYCNYf5Xlw
		k4efZGdnw2KxjOhQc24O3vlYUlZphvrTBCLqxppzLVB3NvnBL9ehb13G6Hl+
		QaoxEVtWVhZqa2s/C0Yvs8mTJ2/KkdQ0Li5uRARw8yRxLG/cswn4vVUTwZTG
		10PyBPqKgc/kO70ueD/cLy9P1vnVvkEKqWW4L7NoxDIYIIcbiY0YiVW+F9zK
		y8sdRUVFYJiIJBLI6iAhx8h8q2MG3E2vAod/gmrr8NUHxi0bY48L/SfOw/vm
		p/pVmX5x4hCPX7kSvxXXY2XaxKB9Q8+50jkxERsxEmswev9s6tSpZ0bqB0IF
		qrOk40vrTcC8jcAdTcDDzcC214HHd0BtEAfX8CAwZZWO8awb6Oy6JNa/nVML
		e1zyPwKeMtL+iY0YBwXPh1VVVZvz8vJ0vhxpNODmoX2MeO75CdnYkVmJE3lz
		4S6s11UdK0W+H0TZcrQ7FuFYQR2eubZyVBOdUFk4JxZmgMRGjPJs8LZlyxZz
		TU3N6XHjxmlneCWmIDsHEZIZMwa1CRmYl3IdGtJy0Si9Tl6W8FVZ7CiGuNBz
		jTkx0PkRE7ER4+Do/U8lS5pZWlrqTktLGzUSDGGu9miAJxZiIrZhwRsfiprc
		bbfbvf9mEgLBi+PzEpOBL6KRC8gaVYf2QycyGiZhEbVPMluQKF0EGfVOGSkr
		ZabsxDBi8AZDUjXNot3QedCDMowwltKmeAidC/toEDMSMngeu3E+ZaFMlI0y
		UlbKTNkjVnsDdOhIpyEMbmb4YAxlIsFsiocwr2ZxwQqLB5P1q9F5Fs/k2axf
		KAuzWMpGGSkrZQ7r8ELBhpszgWAWxVSS+TSLClZWLC9ZY/NFg/yPUfH/jP9Q
		VzyD7y5YvrOCZRHHOoapPGUbMskJB+7/z/+jDPwF5p3YdqkjL+0AAAAASUVO
		RK5CYII=
		</data>
		<string>TikTokLite</string>
		<string>name backup</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NS.time</key>
			<real>765609094</real>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSDate</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSDate</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableDictionary</string>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableDictionary</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
